html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v16-latin-regular.woff") format("woff"), url("../fonts/nunito-v16-latin-regular.ttf") format("truetype"), url("../fonts/nunito-v16-latin-regular.svg#Nunito") format("svg");
  /* Legacy iOS */
}

/* nunito-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/nunito-v16-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin-italic.woff2") format("woff2"), url("../fonts/nunito-v16-latin-italic.woff") format("woff"), url("../fonts/nunito-v16-latin-italic.ttf") format("truetype"), url("../fonts/nunito-v16-latin-italic.svg#Nunito") format("svg");
  /* Legacy iOS */
}

/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/nunito-v16-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v16-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v16-latin-800.woff2") format("woff2"), url("../fonts/nunito-v16-latin-800.woff") format("woff"), url("../fonts/nunito-v16-latin-800.ttf") format("truetype"), url("../fonts/nunito-v16-latin-800.svg#Nunito") format("svg");
  /* Legacy iOS */
}

body {
  margin: 0;
  color: #030a25;
  font-family: "Nunito", "Arial", sans-serif;
  font-display: optional;
  font-weight: bold;
}

.container {
  padding: 0 70px;
}

#up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #4361ee;
  color: #4361ee;
  background-color: #fff;
  font-size: 19px;
  cursor: pointer;
  z-index: 3333;
}

.up {
  position: relative;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 150ms opacity linear, 150ms -webkit-transform linear;
  transition: 150ms opacity linear, 150ms -webkit-transform linear;
  transition: 150ms opacity linear, 150ms transform linear;
  transition: 150ms opacity linear, 150ms transform linear, 150ms -webkit-transform linear;
}

.up__icon {
  position: absolute;
  -webkit-transition: 250ms opacity ease-out, 250ms -webkit-transform ease-out;
  transition: 250ms opacity ease-out, 250ms -webkit-transform ease-out;
  transition: 250ms transform ease-out, 250ms opacity ease-out;
  transition: 250ms transform ease-out, 250ms opacity ease-out, 250ms -webkit-transform ease-out;
}

.up__secondary {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  opacity: 0;
}

.up:hover {
  opacity: 1;
}

.up:hover .up__primary {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
}

.up:hover .up__secondary {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 850px) {
  #up {
    right: 25px;
    bottom: 25px;
  }
}

@media (max-width: 650px) {
  #up {
    right: 20px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 450px) {
  #up {
    right: 10px;
    bottom: 15px;
    width: 42px;
    height: 42px;
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 390px) {
  #up {
    right: 5px;
    bottom: 7px;
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.menu__item {
  margin-left: 25px;
}

.menu__link {
  text-decoration: none;
  color: #030a25;
  font-size: 19px;
  -webkit-transition: 150ms color linear;
  transition: 150ms color linear;
}

.menu__link:hover {
  color: #4361ee;
}

.menu__toggler {
  display: none;
  opacity: 0;
  position: relative;
  border-radius: 5px;
  width: 40px;
  height: 39px;
  z-index: 20;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #fff;
  outline: none;
}

.menu__toggler > span {
  display: inline-block;
  position: absolute;
}

.menu__toggler .top {
  top: 9px;
}

.menu__toggler .bottom {
  bottom: 9px;
}

.menu__line {
  display: inline-block;
  width: 27px;
  height: 3px;
  background-color: #4361ee;
  border-radius: 7px;
  -webkit-transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu__logo--img {
  width: 125px;
}

.menu__closed {
  height: 0;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms height linear, 200ms opacity linear;
  transition: 250ms height linear, 200ms opacity linear;
}

.menu__closed .menu__item {
  margin-bottom: 15px;
}

.menu__closed .menu__item:last-child {
  margin-bottom: 0;
}

.toggler__on {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  opacity: 1;
}

.toggler__active {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggler__active .top {
  top: 18px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.toggler__active .middle {
  opacity: 0;
}

.toggler__active .bottom {
  bottom: 18px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

@media (max-width: 870px) {
  .menu__logo--img {
    width: 110px;
  }
  .menu__item {
    margin-left: 0;
  }
}

@media (max-width: 670px) {
  .menu {
    margin-left: -20px;
    margin-right: -20px;
  }
  .menu__logo--img {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .menu {
    padding-top: 10px;
    margin-bottom: 40px;
  }
  .menu__logo--img {
    width: 90px;
  }
  .menu__toggler {
    border-radius: 5px;
    width: 35px;
    height: 35px;
  }
  .menu__line {
    width: 24px;
    height: 3px;
    border-radius: 6px;
  }
  .menu__toggler .top {
    top: 8px;
  }
  .menu__toggler .bottom {
    bottom: 8px;
  }
  .toggler__active .top {
    top: 16px;
  }
  .toggler__active .bottom {
    bottom: 16px;
  }
}

@media (max-width: 450px) {
  .menu {
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .menu {
    padding-top: 7px;
    margin-bottom: 20px;
  }
}

.info {
  text-align: center;
}

.info__header {
  margin-bottom: 50px;
}

.info__title {
  font-size: 2.9rem;
  margin: 0;
}

.info__secondary {
  font-size: 1.4rem;
  margin: 15px 0;
}

.info__img-wrapper {
  min-height: 250px;
}

.info__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
}

.info__footer {
  min-height: 300px;
}

.info__footer--img {
  max-width: 800px;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .info__footer {
    min-height: 250px;
  }
  .info__footer--img {
    max-width: 90%;
  }
}

@media (max-width: 835px) {
  .info__footer {
    min-height: 200px;
  }
}

@media (max-width: 555px) {
  .info__footer {
    min-height: 150px;
  }
}

@media (max-width: 450px) {
  .info__header {
    margin-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .info__header {
    margin-bottom: 30px;
  }
}

@media (max-width: 370px) {
  .info__footer {
    min-height: 50px;
  }
}

.portfolio {
  position: relative;
  background-color: #030a25;
}

.portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#030a25), to(#4361ee));
  background: linear-gradient(#030a25, #4361ee);
  -webkit-clip-path: circle(10% at 6% 13%);
          clip-path: circle(10% at 6% 13%);
}

.portfolio__title {
  position: absolute;
  width: 100%;
  top: -35px;
  left: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.05);
  text-shadow: 1px 1px #4362ee25;
  font-size: 4rem;
}

.portfolio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4361ee), to(#030a25));
  background: linear-gradient(to bottom, #4361ee, #030a25);
  -webkit-clip-path: circle(20% at 95% 90%);
          clip-path: circle(20% at 95% 90%);
}

.projects {
  position: relative;
  min-height: 102vh;
  padding: 70px 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  z-index: 1;
}

.project {
  position: relative;
  width: 30%;
  text-align: center;
  margin-bottom: 50px;
  overflow: hidden;
  min-height: 280px;
  border-radius: 10px;
  padding: 30px 20px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(0.5);
          backdrop-filter: blur(0.5);
}

.project__number {
  position: absolute;
  top: 15px;
  right: 32px;
  margin: 0;
  font-size: 78px;
  color: rgba(255, 255, 255, 0.04);
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
}

.project__content, .project__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  -webkit-transition: 200ms opacity linear, 200ms -webkit-transform linear;
  transition: 200ms opacity linear, 200ms -webkit-transform linear;
  transition: 200ms transform linear, 200ms opacity linear;
  transition: 200ms transform linear, 200ms opacity linear, 200ms -webkit-transform linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__description {
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0;
}

.project__layer {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 22px;
}

.project__list {
  list-style-type: circle;
  text-align-last: left;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.project__item {
  line-height: 1.5;
  font-size: 18px;
}

.project__link {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 5px 10px 6px;
  border-radius: 10px;
  font-size: 17px;
  -webkit-transition: 150ms background-color linear, 150ms color linear, 150ms border-color ease-out, 150ms -webkit-transform linear;
  transition: 150ms background-color linear, 150ms color linear, 150ms border-color ease-out, 150ms -webkit-transform linear;
  transition: 150ms transform linear, 150ms background-color linear, 150ms color linear, 150ms border-color ease-out;
  transition: 150ms transform linear, 150ms background-color linear, 150ms color linear, 150ms border-color ease-out, 150ms -webkit-transform linear;
}

.project__link--icon {
  font-size: 13px;
  margin-left: 3px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 150ms color linear, 150ms -webkit-transform linear;
  transition: 150ms color linear, 150ms -webkit-transform linear;
  transition: 150ms transform linear, 150ms color linear;
  transition: 150ms transform linear, 150ms color linear, 150ms -webkit-transform linear;
}

.project__link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.3);
}

.project:hover .project__content {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.project:hover .project__layer {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project:hover .project__number {
  -webkit-transform: scale(0.75) translate(32px, -30px);
          transform: scale(0.75) translate(32px, -30px);
}

.project__link:hover .project__link--icon {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translate(1px, -1px);
          transform: translate(1px, -1px);
}

.project__title {
  font-size: 27px;
  margin: 0;
  margin-bottom: 15px;
}

@media (max-width: 1170px) {
  .projects {
    padding: 70px 0;
  }
  .project {
    width: 32%;
  }
}

@media (max-width: 1055px) {
  .projects {
    padding: 70px 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .project {
    width: 45%;
  }
}

@media (max-width: 860px) {
  .projects {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project {
    width: 48%;
  }
}

@media (max-width: 777px) {
  .projects {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0;
  }
  .project {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .project {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .projects {
    padding: 70px 0;
  }
  .project {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .portfolio__title {
    font-size: 3.5rem;
    top: -10px;
  }
  .project {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .projects {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 60px 0;
  }
  .project {
    padding: 25px 15px;
    margin-bottom: 30px;
  }
  .project:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 370px) {
  .project__title {
    font-size: 26px;
  }
  .project__description {
    letter-spacing: 0.8px;
    font-size: 17px;
  }
}

@media (max-width: 290px) {
  .projects {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 280px) {
  .projects {
    margin-left: -23px;
    margin-right: -23px;
  }
  .project {
    padding: 10px 5px;
  }
  .project__content {
    padding: 5px;
  }
  .project__title {
    font-size: 20px;
  }
  .project__description {
    letter-spacing: 0.5px;
    font-size: 15px;
  }
  .project__item {
    font-size: 16px;
  }
  .project__link {
    font-size: 15px;
    padding: 3px 8px 4px;
    border-radius: 8px;
  }
}

.contacts {
  background-color: #4361ee;
}

.contacts__content {
  text-align: center;
  padding: 100px 50px;
  color: #ecefff;
}

.contacts__logo {
  display: inline-block;
  margin-bottom: 25px;
}

.contacts__text {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 800;
}

.contacts__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contacts__item {
  margin-right: 20px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ecefff;
  border: 1px solid #c4c4ce;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 10px;
  font-size: 19px;
  -webkit-transition: 150ms color ease-in, 150ms background-color ease-in;
  transition: 150ms color ease-in, 150ms background-color ease-in;
}

.contacts__link:hover {
  color: #4361ee;
  background-color: #ecefff;
}

.contacts__logo--img {
  width: 150px;
}

@media (max-width: 620px) {
  .contacts__content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 450px) {
  .contacts__content {
    padding: 90px 0 75px;
  }
  .contacts__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts__item {
    width: 33%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .contacts__logo {
    margin-bottom: 22px;
  }
  .contacts__logo--img {
    width: 140px;
  }
  .contacts__text {
    font-size: 20px;
    margin-bottom: 29px;
  }
  __link {
    width: 39px;
    height: 39px;
    padding: 7px;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .contacts__content {
    padding: 60px 0 50px;
  }
  .contacts__item {
    width: 33%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .contacts__logo {
    margin-bottom: 20px;
  }
  .contacts__logo--img {
    width: 120px;
  }
  .contacts__text {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .contacts__link {
    width: 35px;
    height: 35px;
    padding: 7px;
    font-size: 15px;
  }
  .contacts__text {
    font-size: 18px;
  }
}

.about__wrapper {
  padding: 120px 0 250px;
  background-color: #4361ee;
}

.about__title {
  font-size: 2rem;
  color: #ecefff;
  margin-top: 0;
  text-align: center;
}

.about__text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
  color: #ecefff;
  line-height: 1.5;
}

.skills-wrapper {
  position: relative;
  top: -130px;
}

.skills-box {
  padding: 0 90px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}

.skill {
  width: 33.33%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 70px 45px;
  font-size: 18px;
  letter-spacing: 0.8px;
  background-color: #fff;
}

.skill--middle {
  border-left: 1px solid #e6ecf8;
  border-right: 1px solid #e6ecf8;
}

.skill__icon {
  color: #4361ee;
  font-size: 50px;
}

.skill__title {
  color: #030a25;
  font-size: 1.5rem;
  font-size: 24px;
}

.skill__text {
  line-height: 1.5;
  font-size: 18px;
}

.skill__theme {
  color: #4361ee;
  font-weight: 500;
}

.skill__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skill__item {
  line-height: 1.5;
  margin-bottom: 5px;
}

.skill__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 1360px) {
  .skills-box {
    padding: 0 80px;
  }
}

@media (max-width: 1335px) {
  .skills-box {
    padding: 0 70px;
  }
}

@media (max-width: 1312px) {
  .skills-box {
    padding: 0 50px;
  }
}

@media (max-width: 1272px) {
  .skills-box {
    padding: 0 30px;
  }
}

@media (max-width: 1233px) {
  .skills-box {
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .skills-box {
    padding: 0;
  }
}

@media (max-width: 1175px) {
  .skill {
    padding: 50px 30px;
  }
}

@media (max-width: 1050px) {
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-box {
    padding: 0 50px;
  }
  .skill {
    width: 100%;
  }
  .skill--middle {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #e6ecf8;
    border-bottom: 1px solid #e6ecf8;
  }
}

@media (max-width: 950px) {
  .skills-box {
    padding: 0 25px;
  }
}

@media (max-width: 750px) {
  .skills-box {
    padding: 0;
  }
  .info__img-wrapper {
    min-height: 220px;
  }
  .info__img {
    width: 220px;
  }
  .info__footer {
    margin-left: -20px;
    margin-right: -20px;
  }
  .info__footer--img {
    max-width: 100%;
  }
}

@media (max-width: 670px) {
  .info__title {
    font-size: 2.5rem;
  }
  .info__secondary {
    font-size: 1.3rem;
  }
  .info__img-wrapper {
    min-height: 200px;
  }
  .info__img {
    width: 200px;
  }
  .about__wrapper {
    padding: 100px 0 210px;
  }
  .skills-wrapper {
    top: -110px;
  }
}

@media (max-width: 650px) {
  .about__text {
    width: 80%;
  }
  .about__title {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 620px) {
  .info__footer {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@media (max-width: 600px) {
  .about__wrapper {
    padding: 80px 0 170px;
  }
  .skills-wrapper {
    top: -90px;
  }
  .info__title {
    font-size: 2.3rem;
  }
}

@media (max-width: 450px) {
  .skills-box {
    margin-left: -15px;
    margin-right: -15px;
  }
  .skills {
    border-radius: 10px;
  }
  .about__wrapper {
    padding-bottom: 190px;
  }
  .skills-wrapper {
    top: -90px;
  }
  .info__img-wrapper {
    min-height: 180px;
  }
  .info__img {
    width: 180px;
  }
  .info__title {
    font-size: 2rem;
  }
  .about__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 420px) {
  .about__wrapper {
    padding: 60px 0 150px;
  }
}

@media (max-width: 400px) {
  .about__wrapper {
    padding: 40px 0 130px;
  }
  .about__title {
    font-size: 1.7rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about__text {
    width: 90%;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .info__footer {
    margin-left: -25px;
    margin-right: -25px;
  }
  .info__img-wrapper {
    min-height: 160px;
  }
  .info__img {
    width: 160px;
  }
}

@media (max-width: 380px) {
  .about__wrapper {
    padding-bottom: 120px;
  }
  .about__title {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about__text {
    width: 95%;
    font-size: 1.1rem;
  }
  .skills-box {
    margin-left: -20px;
    margin-right: -20px;
  }
  .skill {
    padding: 45px 25px;
  }
}

@media (max-width: 300px) {
  .about__wrapper {
    padding-top: 35px;
  }
  .about__title {
    font-size: 1.2rem;
    padding-left: 3px;
    padding-right: 3px;
  }
  .about__text {
    width: 98%;
    font-size: 0.9rem;
  }
  .skill {
    padding: 20px 10px;
  }
  .skill__title {
    font-size: 19px;
  }
  .skill__icon {
    font-size: 35px;
  }
  .info__img-wrapper {
    min-height: 120px;
  }
  .skill__text {
    font-size: 15px;
  }
  .skill__list {
    font-size: 15px;
  }
  .info__img {
    width: 120px;
  }
  .info__title {
    font-size: 1.6rem;
  }
  .info__secondary {
    font-size: 1.1rem;
  }
}

.resume {
  text-align: center;
  padding: 20px 20px 50px;
  margin-bottom: 50px;
}

.resume__body {
  padding-left: 100px;
  padding-right: 100px;
}

.resume__title {
  font-size: 2rem;
}

.resume .resume__box--title {
  font-size: 22px;
}

.resume__list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  margin-bottom: 30px;
}

.resume__list li::before {
  content: "";
  width: 10px;
  height: 9px;
  display: inline-block;
  position: relative;
  margin-right: 0.6rem;
  top: -1px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#030a25), to(#4361ee));
  background: linear-gradient(to right, #030a25, #4361ee);
}

.resume__item {
  line-height: 1.5;
  font-size: 19px;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}

.resume__link {
  font-size: 18px;
  color: #4361ee;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #4361ee;
  border-radius: 5px;
  background-color: #4361ee;
  color: #fff;
  padding: 7px 15px;
  -webkit-transition: 110ms border-radius linear, 110ms color linear, 110ms background-color linear, 110ms border-width linear, 110ms -webkit-transform linear, 110ms -webkit-box-shadow linear;
  transition: 110ms border-radius linear, 110ms color linear, 110ms background-color linear, 110ms border-width linear, 110ms -webkit-transform linear, 110ms -webkit-box-shadow linear;
  transition: 110ms border-radius linear, 110ms color linear, 110ms background-color linear, 110ms transform linear, 110ms border-width linear, 110ms box-shadow linear;
  transition: 110ms border-radius linear, 110ms color linear, 110ms background-color linear, 110ms transform linear, 110ms border-width linear, 110ms box-shadow linear, 110ms -webkit-transform linear, 110ms -webkit-box-shadow linear;
}

.resume__link:hover {
  background-color: #fff;
  color: #4361ee;
  -webkit-transform: translateY(-2px) scaleY(1.02);
          transform: translateY(-2px) scaleY(1.02);
  -webkit-box-shadow: 0 3px 1px rgba(67, 97, 238, 0.3);
          box-shadow: 0 3px 1px rgba(67, 97, 238, 0.3);
}

.resume__box--title {
  margin-bottom: 30px;
}

@media (max-width: 880px) {
  .resume__body {
    padding: 0 50px;
  }
}

@media (max-width: 640px) {
  .resume__body {
    padding: 0 25px;
  }
}

@media (max-width: 560px) {
  .resume {
    padding: 10px 10px 30px;
    margin-bottom: 20px;
    margin-top: -40px;
  }
}

@media (max-width: 450px) {
  .resume__title {
    font-size: 1.8rem;
  }
  .resume__body {
    padding: 0 10px;
  }
  .resume__item {
    font-size: 17px;
  }
  .resume__list li::before {
    width: 9px;
    height: 8px;
    margin-right: 0.5rem;
  }
  .resume__link {
    font-size: 17px;
    padding: 5px 12px;
  }
}