.bg-green{
    background-color: var(--green-100);
}

.bg-gray{
    background-color: var(--gray-50);
}

.bg-white{
    background-color: white;
}

.bg-primary{
    background-color: var(--gray-100);
}