:root {
  --font-family-default: inter;
  --black-50: #42526e, 100%;
  --black-100: #505f79;
  --black-200: #172b4d;
  --balck-300: #344563;
  --green-50: #36b37e;
  --green-100: #36b37f;
  --gray-50: #ebf0ee;
  --gray-100: #e5e5e5;
  --gray-200: #6b778c;
}
