:root {
    --font-family-default: inter;
    --black-50: #42526E, 100%;
    --black-100:#505F79;
    --black-200:#172B4D;
    --balck-300:#344563;
    --green-50:#36B37E;
    --green-100:#36B37F;
    --gray-50:#EBF0EE;
    --gray-100:#E5E5E5;
    --gray-200:#6B778C;
  
  }